footer{
    height: 30rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.5rem solid rgb(61, 60, 60) ;
    background-color: black;

}

.footer-container{
width: 75%;
height: 100%;
display: flex;
flex-direction: column;
padding: 5rem 0;
gap: 3rem;
}

.contact span{
    text-decoration: underline;
    color: rgb(193, 187, 187);

}

.contact span:hover{
    cursor: pointer;
    
}


.services{
    width: 100%;
    height: 60%;
    display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: row;
}

.services div{
display: flex;
align-items: flex-start;
justify-content: center;
gap: 1rem;
flex-direction: column;
width: 33%;
}

footer a{
    color: rgb(193, 187, 187);
    font-size: 0.9rem;
}

footer select{
    width: 8rem;
}


@media (320px <= width <= 480px){

    footer{
        height: auto;
       
    
    }

    
    
    footer a{
        width: 100%;
    }
    
    .services{
       
       
    flex-direction: column;
    }
    
    .services div{
   
    flex-direction: column;
    width: 100%;
    }
    
   
    

}