@import "./navbar.css";
@import "./herosection.css";
@import "./section.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.7),rgba(0,0,0,0.4),rgba(0,0,0,0.7),rgba(0,0,0,0.9)), url('../assets/images/navbar-images/Netflix-Background.jpg');
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
}



