nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
}
nav div{
width: 35%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}
nav div:nth-child(2){

    gap: 1rem;
    margin-right: 2rem;
    width: 45%;

}


nav div:nth-child(2) button{
    width: 7rem;
    height: 40%;
    outline: none;
    border: none;
    background-color: red;
    color: white;
    border-radius: 0.2rem;
    font-weight: bold;
    transition: all 0.4s;
}

nav div:nth-child(2) button:hover{
    background-color: rgb(219, 14, 14);
    cursor: pointer;
}

#NetflixLogo{
    width: 12rem;
}

select{
    width: 9rem;


    background: transparent;
    color: white;
    padding: 0.5rem 0.3rem;
    border-radius: 0.2rem;
    font-weight: bold;
}
select:focus{
    border: 3px solid white;
    outline: none;
    position: relative;
}

select option{
    font-size: 1.1rem;
    text-align: center;
}


@media (320px <=width <=468px){
    #NetflixLogo{
        width: 9rem;
        margin-left: 3rem;
    }
}